.cards {
    
    margin-bottom: 11.1rem;
    
}
.directory {
    padding: 4.7rem 2.6rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: center;
background: $color-pink;
transition: .3s;

&__svg {
    margin-bottom: 4.7rem;
    
}
&__title {
    @include text ($font-base, 600, 2.4rem, 2.8rem, $color-dark);
    margin-bottom: 1.7rem;


}
&__desc {
    @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
    margin-bottom: 1.8rem;


}
&__btn {

}
&__a {
    @include text ($font-base, 600, 1.6rem, 1.9rem, $color-dark);
text-decoration: none;
}
&__a:hover {
    text-decoration: underline;
}
&:hover {
    background: $color-primary;
}
&:hover &__svg path {
    fill: $color-white;
}
&:hover &__title {
    color: $color-white;

}
&:hover &__desc {
    color: $color-white;
}
&:hover &__a {
    color: $color-white;
}
}

.searching {
    border-radius: 15px;
    padding: 4.7rem 2.6rem;
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: center;
background: $color-pink;
transition: .3s;

&__svg {
    margin-bottom: 4.7rem;
    
  
}
  
&__title {
    @include text ($font-base, 600, 2.4rem, 2.8rem, $color-dark);
    margin-bottom: 1.7rem;
}
&__desc {
    @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
    margin-bottom: 1.8rem;
}
&__btn {
}
&__a {
    @include text ($font-base, 600, 1.6rem, 1.9rem, $color-dark);
text-decoration: none;
}
&__a:hover {
    text-decoration: underline;
}
&:hover {
    background: $color-primary;
}
&:hover &__svg path {
    fill: $color-white;
}
&:hover &__title {
    color: $color-white;

}
&:hover &__desc {
    color: $color-white;
}
&:hover &__a {
    color: $color-white;
}
}

.service {
    border-radius: 15px;
    padding: 4.7rem 2.6rem;
    display: flex;
    flex-direction: column;
        align-items: center;
    justify-content: center;
background: $color-pink;
transition: .3s;

&__svg {
    margin-bottom: 4.7rem;
    
}
&__title {
    @include text ($font-base, 600, 2.4rem, 2.8rem, $color-dark);
    margin-bottom: 1.7rem;
}
&__desc {
    @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
    margin-bottom: 1.8rem;
}
&__btn {
}
&__a {
    @include text ($font-base, 600, 1.6rem, 1.9rem, $color-dark);
text-decoration: none;
}
&__a:hover {
    text-decoration: underline;
}
&:hover {
    background: $color-primary;
}
&:hover &__svg path {
    fill: $color-white;
}
&:hover &__title {
    color: $color-white;

}
&:hover &__desc {
    color: $color-white;
}
&:hover &__a {
    color: $color-white;
}
}

