.bg {
    
    background: $color-black;
    margin-bottom: 13.1rem;
}
.bg__title {
    @include text ($font-base, 700, 3.6rem, 4.2rem, $color-white);
    margin-top: 7.8rem;
    margin-bottom: 3.7rem;
 
}

.email {
    position: relative;
    margin-bottom: 8.2rem;
    width: 60%;
}


.email__input {
    @include text ($font-base, 400, 1.6rem, 1.9rem, $color-dark);
    
    width: 100%;
    background: $color-white;
    border-radius: 5rem;
    padding: 2rem 2.1rem;
    padding-right: 18.2rem;
}
.email__a {
    position: absolute;
    right: 1.5rem;
top: 50%;
transform: translateY(-50%);
    @include text ($font-base, 600, 2rem, 2.3rem, $color-white);
    text-decoration: none;
    background: $color-primary;
    border-radius: 2.2rem;
    padding: 1rem 2.4rem;
    transition: .3s;
    &:hover {
        background: $color-pink;
    border: 0.2rem solid $color-primary;
    color: $color-primary;
}
    }


